$dark-bg:#1B2330;
$dark-blue:#202A3C;
$darkest-blue:#0B1524;


$font-size-min:14px;
$font-size-medium:20px;
$font-size-big:40px;


$font-family-opensans: "Open Sans", sans-serif;
$font-family-raleway: "Raleway", sans-serif;
