.button{
  font-family: $font-family-raleway;
  font-weight: 700;
  line-height: 19px;
  color: #ffffff;
  padding: 19px 95px;
  background-image: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border: none;
  border-radius: 28px;
  cursor: pointer;
}