/* CONTACT */
.contact {
  @include flex(center, center);
  background-color: #181F2B;
}

.contact__inner{
  position: relative;
  top: 110px;
  max-width: 863px;
  @include flex(center, center);
  flex-direction: column;
  padding: 42px 77px;
  background-color: $dark-bg;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
  border-radius: 9px;
}

.contact__heading {
  font-family: $font-family-raleway;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 16px;
}

.contact__text {
  font-size: $font-size-min;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-bottom: 38px;
}





@include breakpoint-down(930px) {
  .contact__inner{
    width: 95%;
    margin: 0 auto;
  }
}


@include breakpoint-down(768px) {
  .contact__heading {
    font-size: 28px;
    line-height: 48px;
  }
}


@include breakpoint-down(525px) {
  .contact__inner{
    padding: 42px 40px;
  }
  .contact__heading {
    font-size: 20px;
    line-height: 32px;
  }
}

@include breakpoint-down(425px) {
  .contact__inner{
    padding: 40px 28px;
  }
  .contact__heading {
    font-size: 18px;
    line-height: 24px;
  }
}

@include breakpoint-down(425px) {
  .contact__inner {
    top: 155px;
  }
}