/* FOOTER */
.footer{
  background-color: $darkest-blue;
  padding-top: 200px;
  padding-bottom: 97px;
}

.footer__bottom {
  @include flex(flex-start, space-between);
  margin-top: 32px;
}

.footer__right {
  width: 445px;
  @include flex(flex-start, space-between);
}

.footer__nav {
  @include flex(flex-start, space-between);
}

.footer__list {
  @include list-no-style;
}

.footer__list ~ .footer__list{
  margin-left: 80px;
}

.footer__item{
  margin-bottom: 16px;
}

.footer__link {
  text-decoration: none;
  line-height: 19px;
  color: #ffffff;
  transition: color 0.3s ease;
  &:hover {
    color:#63E1D9
  }
}

.footer__socials {
  @include list-no-style;
  @include flex(center, space-between);
}

.footer__social-item {
  margin-right: 11px;
  
}

.footer__social-link {
  @include flex(center, center);
  width: 31px;
  height: 31px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transition: border 0.3s ease;
  svg {
    transition: fill 0.3s ease;
  }
  &:hover {
    border: 1px solid #63E1D9
  }
  &:hover svg {
    fill: #63E1D9;
  }
}




@include breakpoint-down(900px) {
  .footer__right {
    width: 300px;
    @include flex(flex-start, center);
    gap: 20px;
    flex-direction: column;
  }
}



@include breakpoint-down(768px) {
  .footer__inner {
    max-width: 400px;
    margin: 0 auto;
  }

  .footer__bottom {
    flex-direction: column;
  }
  .footer__right {
    max-width: 420px;
  }

  .footer__socials {
    margin: 0 auto;
  }
}

@include breakpoint-down(375px) {
  .footer{
    background-color: $darkest-blue;
    padding-top: 200px;
    padding-bottom: 46px;
  }
  .footer__logo img{
    width: 176px;
    height: 52px;
  }
  .footer__right {
    gap: 80px;
  }
  .footer__nav {
    @include flex(flex-start, space-between);
    flex-direction: column;
  }

  .footer__list ~ .footer__list{
    margin-left: 0px;
    margin-top: 48px;
  }
}

