.logo{
  display: inline-block;
}
.logo__img{
  fill: #63E1D9;
  display: block;
  width: 176px;
  height: 52px;
}

.logo__path {
  transition: fill 0.3s ease;
}
.logo:hover .logo__path {
  fill:#63E1D9;
}

@include breakpoint-down(768px) {
  .logo__img {
    width: 150px;
    height: 100%;
  }
}

@include breakpoint-down(525px) {
  .logo__img {
    width: 130px;
    height: 100%;
  }
}

@include breakpoint-down(425px) {
  .logo__img {
    width: 100px;
    height: 100%;
  }
}

@include breakpoint-down(375px) {
  .logo__img {
    width: 80px;
    height: 24px;
  }
}